
html {
	background-color: green;										);
																																																																										
body {
	background-color: white;
	margin: auto;
	max-width: 60%;
	height: 60%;
}
