
html {
	background-color: gold;
}																																																																																					
body {
	background-color: white;
	margin: auto;
	max-width: 600px;
	height: 600px;
}