
html {
	background-color: green;
	background-image: url("../../images/image.jpg.png");
}																																																																																					
body {
	background-color: white;
	margin: auto;
	max-width: 60%;
	height: 60%;
}
